.chat-list {
    display: flex;
    overflow: auto;
    overflow-x: hidden;
    flex-grow: 1;
    flex-direction: column;
    max-height: 600px;
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 0.5rem;
    margin: 0.6rem 0;
}