.date-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .date {
        padding: 0.6rem 0.4rem;
        font-size: 1rem;
    }

    hr {
        width: 100%;
        size: 0.1rem;
    }
}