.modal-background {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(92, 92, 92, 0.7);
    z-index: 5;

    .modal-block {
        margin: auto;
        display: flex;
        flex-direction: column;

        .edit-textarea {
            opacity: 1;
            border: 1px solid black;
            border-radius: 0.5rem;
            padding: 0.2rem;
            font-size: 1rem;
            width: 200px;
            height: 200px;
            margin-bottom: 0.7rem;
        }

        .btn-wrp {
            opacity: 1;
            display: flex;
            justify-content: space-between;

            .edit-button,
            .cancel-button {
                border: 1px solid black;
                border-radius: 0.5rem;
                font-size: 1rem;
                padding: 0.4rem 1rem;
                align-items: center;
            }

            .edit-button:hover,
            .cancel-button:hover {
                cursor: pointer;
            }
        }
    }
}