.message-input {
    display: flex;
    align-items: center;
    justify-content: space-around;

    // padding: 0.7rem 2rem;
    .message-send-text {
        border: 1px solid black;
        border-radius: 0.5rem;
        padding: 0.2rem;
        width: 70%;
        height: 3rem;
        font-size: 1rem;
    }

    .message-send-text:focus {
        outline: none;
    }

    .message-send-text:active {
        outline: none;
    }

    #send-button {
        display: flex;
        border: 1px solid black;
        border-radius: 0.5rem;
        font-size: 1rem;
        padding: 0.4rem 1rem;
        align-items: center;

        img {
            margin-right: 0.2rem;
        }
    }

    #send-button:hover {
        cursor: pointer;
    }

}